@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);


body{
    background: url(./../Imagens/resiliaflix.jpg);
    height: 100vh;
    width: 100%;
    background-color: black!important;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
.imagem-logo{
      width: 5%;
      height: 5%;
    }
.cor{
    background-color:  #FF4B1B!important;
    color: black!important;
}
    
.menu{
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Bakbak One', cursive;
        font-family: 'Inconsolata', monospace;
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto Mono', monospace;
    }
    
.borda{
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 10px;
        margin: 10px;
    }

.icon-um{
    color: #FF4B1B;
}

.icon-dois{
    color: #619699;
}



.bg-black{
    background-color: rgb(194, 50, 50)!important;
}

.imagem-posição{
    height: 350px;

}

.cor-footer{
    color: #FF4B1B!important;
}


/*  FORMULARIO */
#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}




#logreg-forms button[type="submit"]{ margin-top:10px; }


#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    
    
}